.section{
    height: 400px;
    background-color: whitesmoke;
   text-align: center;
}

.text-gradient{
   font-size: 60px;
   font-weight: bold;
   background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
  background-clip: text;
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    display: inline-block; 
  background-size: 100% 100%;   
}
.subcontanier{
    position: relative;;
}


/* projects */


.mainheading{
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.projectimg{
   height: 380px;
   width: 240px;
}

.conme{
    padding-top: 90px;
    height: 350px;
     background: linear-gradient(150deg,rgba(16, 25, 181, 1) 0%, rgba(214, 17, 158, 1) 100%);
}

.conme h1{
    font-size: 60px;
}


/* Contact */

.formcon{
    height: 780px;
    background-color: #ded3d9;
    
}

 .profile-card {
      position: relative;
      background: linear-gradient(150deg,rgba(16, 25, 181, 1) 0%, rgba(214, 17, 158, 1) 100%);
      border-radius: 20px;
      padding: 40px 20px 20px;
      width: 420px;
      height: 400px;
      overflow: visible;
    margin-left: 480px;
      display: flex;
      justify-content: center;
      align-items: flex-start; /* so we can push it down */
    margin-top: 60px;
    margin-bottom: 60px;
    }

    .profile-card img {
        width: 340px;
      height: auto;
      border-radius: 12px;
      position: absolute;
      top: -58px;   /* push head above */
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }

    /* Dots */
    .dots {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .dots span {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #fff;
    }

    .dots-left {
      left: -20px;
      top: 40%;
      transform: translateY(-50%);
    }

    .dots-right {
      right: -20px;
      top: 40%;
      transform: translateY(-50%);
    }
    